*{ color: #fff;}
.bg{
	background: url('bg_3.jpeg');
	height:100vh;
	width:100%
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.form-container{
	border: 0px solid #fff;
	padding:50px 60px;
	margin-top: 20vh;
	-webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    }    
.header{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.register{
	color: BLUE;
}
    